.FooBoo h4::before, .Heading_Text h4::before, .Heading_Text_2 h4::before {
    content: '';
    height: 3px;
    top: 100%;
    background: #f2184f;
    z-index: 1;
    display: block
}

.FooBoo li a, .Heading_Text li a, .Heading_Text_2 li a {
    padding-left: 25px;
    display: inline-block;
}

#nav-menu-container ul li a, .SubMenuBox a, .sidenav a {
    text-decoration: none;
    transition: .3s
}

#nav-menu-container ul li a {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    min-height: 100%;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding: 1px 0;
    margin-left: 5px;
    color: #fff
}

    #nav-menu-container ul li a:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        transition: .3s;
        border-right: 2px solid #fff;
        padding-left: 10px
    }

    #nav-menu-container ul li a i {
        color: #fff;
        padding: 5px;
        display: inline-block;
        position: relative;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin: 7px 8px 7px 7px;
        border: 1px solid #fff;
        box-shadow: 0 0 11px -4px #262323
    }

.FooBoo li a::before, .Heading_Text li a::before {
    position: absolute;
    content: '\f0a4';
    font-family: Fontawesome;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    top: 2px;
    text-align: center;
    left: 0;
    line-height: 18px
}

#nav-menu-container ul li a: hover {
    background-color: #ff5c00
}

#nav-menu-container .menu-has-children ul li {
    border-bottom: 1px solid;
    border-corner-shape: bevel
}

    #nav-menu-container .menu-has-children ul li a {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        min-height: auto;
        font-family: Sans-Serif;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 0;
        margin-left: 0;
        color: #6230b4;
        text-decoration: none;
        text-transform: capitalize
    }

        #nav-menu-container .menu-has-children ul li a:before {
            content: '';
            position: relative;
            left: auto;
            top: auto;
            width: 30px;
            height: 100%;
            background-color: none;
            border-radius: none;
            box-shadow: none;
            transition: 0ms
        }

.HedTop {
    background-color: #db345e;
    font-weight: 700;
    font-size: medium;
    min-height: 40px;
    padding: 7px
}

    .HedTop b {
        color: #fff !important;
        font-weight: 500
    }

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px
}

.force-overflow {
    min-height: 450px
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #4285f4
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #f5f5f5;
    border-radius: 10px
}

.scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #ff3547
}

.scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #f5f5f5;
    border-radius: 10px
}

.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #f80
}

.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #f5f5f5;
    border-radius: 10px
}

.scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #00c851
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #f5f5f5;
    border-radius: 10px
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #33b5e5
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #f5f5f5;
    border-radius: 10px
}

.scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #2bbbad
}

.scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #f5f5f5;
    border-radius: 10px
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #a6c
}

.anexrt {
    height: 40px;
    background-color: #dc3545;
    width: 40px;
    top: 50%;
    opacity: 10;
    padding: 0px;
    transform: translateY(-50%);
}

.footer-bottom {
    padding: 10px 0;
    background: #040608;
    position: fixed;
    color: #babbd8;
    bottom: 0;
    width: 100%;
}
.f-top {
    padding: 15px 0;
    position: relative;
    background: #0e151c;
    margin-top: 15px
}

.FooBoo h4 {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 10px
}

    .FooBoo h4::before {
        width: 30px;
        left: 0;
        position: absolute
    }

.FooBoo li a {
    color: #babbd8;
    font-size: 14px;
    position: relative;
    margin-right: 15px
}

.FooBLink li a {
    color: #fff;
    font-weight: 600;
    margin-right: 10px
}

.Page_heading {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    text-transform: capitalize
}

    .Page_heading::before {
        content: '';
        position: absolute;
        background: #fff;
        width: 48px;
        top: 100%;
        left: calc(50% - 24px);
        z-index: 1;
        border-top: 8px dotted #f2184f;
        margin-top: -6px
    }

    .Page_heading::after {
        content: ' ';
        position: relative;
        height: 1px;
        width: 200px;
        display: block;
        border-bottom: 4px double #08437d;
        padding-top: 16px;
        left: 50%;
        transform: translateX(-50%)
    }

.BoxHead {
    text-align: center;
    background-color: #f8f8f8;
    padding: 5px;
    min-height: 247px;
    margin-bottom: 20px
}

.Heading_Text h4, .Heading_Text_2 h4 {
    color: #08437d;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;
    padding: 10px;
    text-align: left
}

    .Heading_Text h4::before, .Heading_Text_2 h4::before {
        width: 50px;
        left: 10px;
        position: absolute
    }

.Heading_Text ol, .Heading_Text_2 ol, ul {
    padding: 10px;
    text-align: left
}

.Heading_Text li a, .Heading_Text_2 li a {
    position: relative;
    color: #261e1e;
    font-weight: 500;
    font-size: 15px
}

    .Heading_Text li a::before {
        color: #f2184f
    }

.single-testimonial {
    background-color: #efefef;
    padding: 15px;
    text-align: center;
    border: 2px solid #d5d5d5
}

    .single-testimonial img {
        width: 100%;
        height: 50px
    }

.owl-controls {
    display: none
}

.topSocila {
    display: inline-flex
}

    .topSocila li a {
        color: #fff;
        border-radius: 20px;
        padding: 4px
    }

    .topSocila li i {
        color: #fff;
        font-size: 25px
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #010E0580;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
    z-index: 9999999
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        font-size: 25px;
        color: #818181;
        display: block
    }

.Text-Lab label, .panel-heading b {
    color: #000 !important
}

.sidenav a:hover {
    color: #f1f1f1
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin: 0
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }

        .sidenav a {
            font-size: 18px
        }
}

.Notification {
    font-size: 15px;
    font-weight: 700;
    animation-duration: .6s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: .6s infinite blink
}

@keyframes blink {
    from {
        color: #fff
    }

    to {
        color: #f2184f
    }
}

.VideoBox {
    text-align: center;
    background-color: #f8f8f8;
    box-shadow: 1px 10px 5px 5px rgba(0,0,0,.09);
    padding: 5px;
    min-height: 300px;
    margin-bottom: 10px
}

.Heading_Text_2 li a::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #f2184f;
    background: #fff;
    top: 5px;
    left: 0;
    border-radius: 50%;
    line-height: 18px
}

.FooBoool ol, ul {
    padding: 0;
    text-align: left
}

.RootSubmodule {
    margin-top: 180px;
    padding: 30px 0 15px;
    text-align: center
}

.Subm a i {
    display: none !important
}

.Subm a {
    font-weight: 500 !important
}

.Text-Lab label {
    font-weight: 700
}

.SubMenuBox:hover .IconDiv {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.shadow6 {
    box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 20px rgba(0,0,0,.1) inset
}

.panel > .panel-heading {
    color: #3c763d;
    background-color: #d4edda;
    border-color: #d6e9c6
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

#QLinks {
    margin-left: 10px;
    margin-right: 10px
}

.SubMenuBox {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px 5px 5px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    border-top: 5px solid #ad812f;
    border-bottom: 5px solid #ad812f;
    margin-bottom: 40px;
    min-height: 120px
}

    .SubMenuBox b {
        text-align: center;
        text-shadow: 1px 1px 0 #534ae7;
        font-size: 20px;
        color: #ad3c3c;
        font-family: poppins,sans-serif;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 1.5
    }

.IconDiv {
    position: absolute;
    top: -30px;
    left: 32%;
    transition: transform .8s ease-in-out
}

.SubMenuBox img {
    width: 70px;
    height: 70px
}

.SubMenuBox:hover {
    box-shadow: 0 5px 35px 0 rgba(0,0,0,.1)
}

.SubMenuBox a {
    padding: unset;
    font-size: unset;
    color: unset;
    display: block
}

.MobiTopM {
    margin-bottom: 0;
    border-bottom: unset
}

@media(max-width:767px) {
    .hidden-xs {
        display: none !important
    }

    .MobiTopM {
        margin-bottom: 15px;
        border-bottom: 1px solid #fff
    }

    .IconDiv {
        position: relative;
        top: 0;
        left: 0
    }

    .SubMenuBox {
        padding: 5px;
        margin-bottom: 10px;
        min-height: 170px
    }

    #QLinks .col-xs-6 {
        width: 50%
    }

    .HomeSlider {
        margin-top: 55%;
        margin-bottom: 55px
    }
}

.carousel-caption {
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    z-index: 10;
    color: #fff;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 100%;
    bottom: inherit
}

    .carousel-caption b {
        font-size: 18px;
        color: #fff !important
    }

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 56px;
    right: 20px;
    display: none
}

.Home_Content_bg {
    background: url("/New_Samgar_Cs_Js/img/BGImage.jpg") top right/100% 100% no-repeat #f5f6eb
}


.HomeSlider .carousel-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .HomeSlider .carousel-item > img {
        max-width: 100%;
        height: 100%;
        object-fit: unset;
    }

.breakingNews-title {
    position: absolute;
    text-align: center;
    background: #FF9800;
    height: 35px;
    color: #fff;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px 2px 2px 2px;
    padding: 0 10px;
    font-weight: 400;
    box-shadow: inset 0 0 8px 0px #00000042;
    letter-spacing: .03em;
    font-size: 13px;
}

    .breakingNews-title:before {
        content: '';
        position: absolute;
        border-left: 18px solid #b5710c;
        border-top: 17.5px solid #0000;
        border-bottom: 17.5px solid #0000;
        left: 100%;
    }

.marquee-slider {
    padding: 4px 0;
    background-color: #0000009e;
    /*position: absolute;*/
    bottom: 0px;
    width: 100%;
}

.marquee-slide {
    position: relative;
    height: 33px;
    display: flex;
    align-items: center;
}

.HomeSlider {
    position: relative;
}

.home-smg-section .Heading_Text li:not(:last-child) {
    margin-bottom: 15px;
}

.home-smg-section .Heading_Text li a:hover {
    color: #c50000;
}

.blink-soft.text-highlight {
    color: #29ff29 !important;
}

.blink-soft {
    animation: blinker .7s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .footer-content p {
        margin-bottom: 0;
        font-size: 15px;
    }

.count-web .total-label {
    font-weight: 500;
}

.copyright-content span {
    color: #fff;
    display: block;
    padding-top: 4px;
}

.opacity-100 {
    opacity: 1 !important;
}

.cm-image-block .cm-picture {
    max-width: 350px;
    margin-bottom: 15px;
}

.cm-text-name span {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.cm-text-name {
    text-align: center;
}

.content-banner-text .logo-title {
    font-size: 100px;
    font-style: italic;
    font-weight: 900;
    color: #cd2600;
}

.HomeSlider .carousel.slide {
    padding: 20px 0;
    background-color: #f2f9ff;
}

.cm-image-block {
    box-shadow: 0 0 40px rgb(2 46 84 / 10%);
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
}

.cm-post {
    margin-bottom: 10px;
}

.cm-name {
    color: #cd2600 !important;
}

.smg-small-popup {
    max-width: 380px !important;
}

.count-web .badge {
    font-weight: 500;
    min-width: 50px;
    height: 30px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
}

.btn-group-smg > .btn {
    margin: 0 !important;
}

    .btn-group-smg > .btn:not(:first-child) {
        margin-left: 15px !important;
    }

.btn-group-smg {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#MasterMain {
    padding: 0 !important;
    margin-bottom:95px !important;
}

.form-view-detals .form-label {
    font-weight: 700;
    display: block;
    font-size: 15px;
}

    .form-view-detals .form-label + span {
        background-color: #f0f0f0;
        display: block;
        padding: 8px;
        border-radius: 2px;
    }

.radio-button-smg input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.radio-button-smg td {
    display: inline-flex;
    align-items: center;
}

    .radio-button-smg td:not(:first-child) {
        margin-left: 20px;
    }

.radio-button-smg input[type="radio"] + label {
    margin: 0 !important;
    margin-left: 10px !important;
    font-size: 14px;
}

.radio-button-smg td span[disabled="disabled"] {
    display: inline-flex;
}

.aadharekyc_form_field .form-control {
    height: 40px;
}

.form-radio-button .form-check-inline:not(:first-child) {
    margin-left: 20px;
}

.form-radio-button .form-check-inline {
    margin-right: 0;
}

    .form-radio-button .form-check-inline input[type="radio"] {
        margin: 0;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .form-radio-button .form-check-inline span {
        font-size: 15px !important;
        display: inline-block;
        font-weight: 500;
    }

.decleration-box-smg {
    background-color: #e8fcff;
    padding: 10px;
}

    .decleration-box-smg p input[type="checkbox"] {
        position: absolute;
        width: 20px;
        height: 20px;
        margin: 0;
        left: 0;
        top: 3px;
    }

    .decleration-box-smg p {
        padding-left: 30px;
        position: relative;
        margin: 0;
        color: #035b68;
    }

.DiscoverRDService {
    white-space: break-spaces !important;
}

.aadharekyc_form_field .form-group, .aadhar-ekyc-page .form-group {
    position: relative;
}

.aadharekyc_form_field .form-control {
    min-height: 40px;
    font-size: 15px !important;
}

.aadharekyc_form_field span.form-control {
    height: auto !important;
}

.btn-smg-grp .btn:not(:first-child) {
    margin-top: 10px;
}

.btn-smg-grp {
    text-align: center;
}

    .btn-smg-grp .btn {
        white-space: nowrap;
        text-transform: capitalize;
        letter-spacing: inherit;
        margin-left: auto;
        margin-right: auto;
    }

.home-smg-section, section {
    position: relative;
    z-index: 1;
}



#___dvMessage .modal-content, #___dvMessageSpan .modal-content {
    padding: 6px;
}

#___dvMessageHeading i, #___dvMessageHeadingSpan i {
    width: 30px;
    height: 30px;
    border: 1px solid #9b5353;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 100px;
    font-size: 14px;
}

#___dvmodal h3, #___dvmodalSpan h3 {
    display: flex;
    align-items: center;
    margin: 0;
}

#___dvmodal.alert, #___dvmodalSpan.alert {
    margin-bottom: 0;
}

#___dvMessage .modal-content #___dvmodal .close,
#___dvMessageSpan .modal-content #___dvmodalSpan .close {
    opacity: 1;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #d50d0d;
    border: 1px solid #d50d0d;
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    outline: none;
    display: none;
}

    #___dvMessage .modal-content #___dvmodal .close:hover, #___dvMessage .modal-content #___dvmodal .close:focus,
    #___dvMessageSpan .modal-content #___dvMessageSpan .close:hover, #___dvMessageSpan .modal-content #___dvMessageSpan .close:focus {
        color: #d50d0d;
        background-color: #fff;
    }

#___dvMessageContent {
    font-size: 15px;
    font-weight: 400;
}

#___dvMessage .modal-dialog, #___dvMessageSpan.modal .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

#___dvMessage.modal, #___dvMessageSpan.modal {
    padding-top: 0 !important;
    display: block;
    opacity: 1;
    background-color: #2c2a2aa1;
    border-color: transparent;
    width: 100% !important;
    margin: 0 !important;
}


#___dvMessage .modal-footer .btn {
    text-transform: capitalize;
}
/*.home-information-modal .modal-dialog-centered {
    max-width: 600px !important;
}
.important-inform span{
    font-weight:600;
}
.important-inform {
    font-size: 15px;
    color: #111;
    font-weight: 400;
}
.home-information-modal .content-md-smg a {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.home-information-modal .content-md-smg>span{
    font-weight:600;
}*/

.alert-info i {
    border-color: #106574 !important;
}

.alert-success i {
    border-color: #03380f !important;
}

.alert-warning i {
    border-color: #645219 !important;
}

.alert-danger i {
    border-color: #70262d !important;
}

.modal-footer .btn {
    text-transform: capitalize;
}

.captcha-div > .alert-warning {
    background-color: #fff;
    border-color: #b6d1d5;
    margin-bottom: 20px;
}

.captcha-div input {
    min-width: 100px;
    height: 38px;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 6px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}

.bg-light-body {
    background-color: #f9f9fa !important;
}

.captcha-div .vd_Required {
}

.view-data-form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .view-data-form ul li {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3498db1c;
        padding: 4px 8px;
    }

        .view-data-form ul li:not(:last-child) {
            border-bottom: 1px solid #24547414;
            margin-bottom: 1px;
        }

        .view-data-form ul li .label-name-dt {
            margin-bottom: 0;
            font-weight: 600;
            background-color: #fff;
            width: 40%;
            padding: 6px;
        }

.btn {
    text-transform: capitalize !important;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #292929f5 !important;
    display: none;
}
    #preloader:before {
       
        content: "";
        position: fixed;
        top: calc(34% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #c50000;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: animate-preloader 1s linear infinite;
    }

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content11 {
    position: absolute;
    top: 42%;
    left: 32%;
    right: 32%;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    border: 1px dashed;
    padding: 1px 9px;
    border-radius: 10px;
}

.grid-list-member .btn.btn-default {
    background-color: #ca0000;
    color: #ffff;
    letter-spacing: inherit;
    border: 1px solid transparent;
    font-size: 14px !important;
    font-weight: 400;
    padding: 4px 10px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.family-member-adding-bt .block-icon {
    width: 55px !important;
    height: 55px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: inherit;
}

    .family-member-adding-bt .block-icon i {
        font-size: 20px !important;
        line-height: inherit !important;
    }

.family-member-adding-bt .block.style-5.v2 .block-content {
    padding-left: 75px !important;
}

.family-member-adding-bt section.slice {
    padding: 20px 0;
}


.form-box .form-control {
    min-height: 40px !important;
}


.list-grid-smg table tr th {
    font-size: 14px;
    color: #bd0202;
    background-color: #f2f2f5e3;
    white-space: nowrap;
    border-color: #bd024f17 !important;
}

.list-grid-smg table tr:hover, .list-grid-smg .table-hover tr:hover{
    background-color:transparent !important;
}
.list-grid-smg table tr td{
    font-size:14px;
}
.swal2-icon{
    font-size:12px !important;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

 
